<div>
  <h2>Konfiguration</h2>
  <select [(ngModel)]="selectedConfig" (change)="onConfigChange($event)">
    <option *ngFor="let config of availableConfigs" [value]="config">
      {{ config }}
    </option>
  </select>
  <hr />
  <form (ngSubmit)="onSubmit()">
    <div *ngFor="let facility of config; let i = index">
      <h3>Instandhaltungseinrichtung {{ i + 1 }}</h3>
      <button type="button" (click)="removeFacility(i)">Remove Facility</button>
      <div *ngFor="let workspace of facility.children; let j = index">
        <h4>Dock {{ j + 1 }}</h4>
        <button type="button" (click)="removeWorkspace(i, j)">
          Dock entfernen
        </button>
        <div *ngFor="let worker of workspace.children; let k = index">
          <label>
            Arbeiter {{ k + 1 }} Reparatur Rate:
            <input
              type="number"
              [(ngModel)]="worker.repair_rate"
              name="repair_rate_{{ i }}_{{ j }}_{{ k }}"
            />
          </label>
          <button type="button" (click)="removeWorker(i, j, k)">
            Arbeiter entfernen
          </button>
        </div>
        <button type="button" (click)="addWorker(i, j)">
          Arbeiter hinzufügen
        </button>
      </div>
      <button type="button" (click)="addWorkspace(i)">Dock hinzufügen</button>
      <hr />
    </div>
    <button type="button" (click)="addFacility()">
      Instandhaltungseinrichtung hinzufügen
    </button>
    <br />
    <br />
    <br />
    <input
      type="text"
      [(ngModel)]="configName"
      placeholder="Speichern als..."
      name="configName"
    />
    <button type="submit">Konfiguration speichern</button>
  </form>
</div>
