<div>
  <h2>Konfiguration</h2>
  <select [(ngModel)]="selectedConfigName" (change)="onConfigChange($event)">
    <option *ngFor="let configName of availableConfigNames" [value]="configName">
      {{ configName }}
    </option>
  </select>
  <hr />
  <form (ngSubmit)="onSubmit()">
    <div *ngFor="let facility of config; let i = index">
      <h3>Instandhaltungseinrichtung {{ facility.id }}</h3>
      <button type="button" (click)="removeFacility(i)">Remove Facility</button>
      <div *ngFor="let workspace of facility.children; let j = index">
        <h4>Dock {{ workspace.id }}</h4>
        <button type="button" (click)="removeWorkspace(i, j)">
          Dock entfernen
        </button>
        <div *ngFor="let worker of workspace.children; let k = index">
          <label>
            Arbeiter {{ worker.id }} Reparatur Rate (Mittelwert):
            <input
              type="number"
              [(ngModel)]="worker.repair_rate_mean"
              name="repair_rate_mean_{{ i }}_{{ j }}_{{ k }}"
            />
          </label>
          <br />
          <label>
            Arbeiter {{ worker.id }} Reparatur Rate (Standardabweichung):
            <input
              type="number"
              [(ngModel)]="worker.repair_rate_sd"
              name="repair_rate_sd_{{ i }}_{{ j }}_{{ k }}"
            />
          </label>
          <br />
          <button type="button" (click)="removeWorker(i, j, k)">
            Arbeiter entfernen
          </button>
        </div>
        <button type="button" (click)="addWorker(i, j)">
          Arbeiter hinzufügen
        </button>
      </div>
      <button type="button" (click)="addWorkspace(i)">Dock hinzufügen</button>
      <hr />
    </div>
    <button type="button" (click)="addFacility()">
      Instandhaltungseinrichtung hinzufügen
    </button>
    <br />
    <br />
    <br />
    <input
      type="text"
      [(ngModel)]="newConfigName"
      placeholder="Speichern als..."
      name="newConfigName"
    />
    <button type="submit">Konfiguration speichern</button>
  </form>
</div>
